*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f2f2f2;
  line-height: 1.5;
  font-family: sans-serif;
}

main {
  min-height: 100vh;
  max-width: 48em;
  margin: 0 auto;
  padding: 1em 2em;
  background-color: white;
}

img {
  max-width: 100%;
}

ol,
ul {
  padding-left: 1em;
}
